<form id="qoute-form">
    <label for="product">Select Product</label>
    <select name="product" id="product">
        <option value="classic">Classic-Profile</option>
        <option value="shingle">Shingle</option>
        <option value="milano">Milano</option>
        <option value="roman">Roman</option>
    </select>
    <br><br>
    <label for="color">Select Color:</label>
    <select name="color" id="color">
        <option value="maroon">Maroon</option>
        <option value="charcoal">Charcoal Grey</option>
        <option value="red">Tile Red</option>
        <option value="green">Green</option>
    </select>
    <br><br>
    <label for="quantity">Quantity (in pcs):</label>
    <input type="number" name="quantity" id="quantity" min="1" required>
    <br><br>
    <label for="delivery">Delivery Option:</label>
    <select name="delivery" id="delivery">
        <option value="pickup">Pickup</option>
        <option value="delivery">Delivery</option>
    </select>
    <br><br>
    <label for="location">Select Location:</label>
    <input type="text" name="location" id="location" required>
    <br><br>
    <label for="name">Name:</label>
    <input type="text" name="last-name" id="last-name" required>
    <br><br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br><br>
    <label for="phone">Phone Number:</label>
    <input type="tel" name="phone" id="phone" required>
    <br><br>
    <button type="submit" id="submit-button">Order Now</button>
</form>